h1 Cadastro
div.cadastro
	form(name="cadastro", action=" ", method="post")
		input(type="text", name="nome", placeholder ="Name")
		input(type="text", name="codigo", placeholder ="Código")
		input(type="submit", value="cadastrar")
		